#fileGallery {
    left: 20px;
	top: 20px;
    padding-top:15px;
    font-size: 8pt;
}

.article  {
    font-size: 10pt;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.document  {
    font-size: 8pt;
    padding: 10px;
    height: 250px;
}

.documentMeta  {
    font-size: 8pt;
    width: 350px;
}

.docLabel  {
	font-weight: bold;
}

.docInput  {
	float: left;
	line-height: 30px;
}

.eventLabel  {
	font-weight: bold;
}

.eventInput  {
	font-size: 8pt;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

.uploadLabel  {
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 10px;
	padding-top: 15px;
}
.fileButton  {
	font-size: 12px;
	width: 100%;
	padding-bottom: 10px;
    padding-top: 25px;
    margin-left: 20px;
}

.uploadButton  {
}

.uploadLayout {
	width: 100%;
	text-align: center;
	font-size: 10px;
	padding-top: 15px;
}

.articleDisplay  {
	padding-bottom: 20px;
}

.dividerLbl  {
	font-size: 14px;
	padding-top: 20px;
	font-weight: bold;
}
.divider  {
	padding-bottom: 10px;
}

.buttonLayout {
	width: 100%;
	padding-top: 20px;
	text-align: right;
	height: 100%;
}

