@CHARSET "UTF-8";

body 
{
	color: white;
	background-color: #000030;
	margin: 0px
}

#mainDiv        
{
	color: white;
	background-color: transparent;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block
}

#mainDivResults
{
	color: white;
	background-color: transparent;
	text-align: left;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block
}
#content    
{
	font-family: Verdana, Geneva, Arial, sans-serif;
	background-color: transparent;
	margin-left: -200px;
	position: absolute;
	top: -35px;
	left: 50%;
	width: 400px;
	height: 70px;
	visibility: visible
}

.searchBody 
{
	font-size: 14px
}

.header 
{
	font-weight: bold;
	font-size: 24px
}

#footer 
{
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, sans-serif;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	visibility: visible;
	display: block
}

.searchInput 
{
	margin-top: 10px;
	border: 2px solid #7d98fe;
	outline-color: #7d98fe;
	height: 26px;
	width: 400px;
	padding: 3px;
	
}
a:link, a:visited 
{
	color: #06f;
	text-decoration: none
}

a:hover 
{
	color: red;
	text-decoration: none
}

.pdf-author
{
	color:lightgray;
	font-size: 12px;
}

.pdf-journal
{
	font-size: 14px;
}
.pdf-subject
{
	font-size: 14px;
	color:darkgray;
}