/****
General Page Structure
***/

body { 
       background-image: url('../images/bg.png');
       background-repeat: repeat; 
       height: 100%;
}

.container {
       /*border-left: 1px solid #000;
       border-right: 1px solid #000;*/
       box-shadow: 0px 0px 4px #aaa;
       /*background-color: #efefef;*/
       margin: 0 auto;
       min-width:800px;
       max-width: 1200px;
}

#smartNavHeader {
       height: 90px; 
}

#uiTop {
       position: absolute;
       left: 20px;
       top: 30px;
       height: 60px;
       width: 500px;
}

#uiTop .sapUiTfStd {
       border: 1px solid #bcbcbc;
       border-radius: 2px;
       box-shadow: 1px 1px 4px #ccc inset;
    -moz-transition:all 0.6s;
    -webkit-transition:all 0.6s;
    -o-transition:all 0.6s;*/
    transition:all 0.6s;
}

#uiTop .sapUiTfStd:hover {
    border-color: #0176C3;
    box-shadow: 0 0 3px #0176C3;
    outline: 0 none;
}


#uiTop input {
       height: 34px !important;
       color: #000;
       font-size: 1em;
       /*font-weight: bold;*/
       line-height: 1.5em;
       border-radius: 2px;
       border: none;
}

#uiTop .tt-hint {
       width: 100%;
       height: 34px !important;
       color: #666;
       font-size: 1em;
       font-weight: lighter;
       line-height: 1.5em;
       border-radius: 2px;
       border: none;
}

#uiTop button {
       height: 34px !important;
       width: 50px;
       padding: 0px;
}

#uiTop .twitter-typeahead {
       width: 100%;
}

#uiTop .tt-dropdown-menu {
       width: 100%;
       border-radius: 0 0 4px 4px;
       background-color: white;
       box-shadow: inset 0 0 5px grey;
       opacity: 0.9;
}

#uiTop .tt-suggestion,.tt-is-under-cursor {
       font-family: Arial,Helvetica,sans-serif;
       font-size: 1em;
       font-weight: lighter;
       margin-top: 6px;
       margin-bottom: 6px;
       margin-left: 6px;
}

#uiTop .tt-is-under-cursor {
       font-weight: bold;
}

#uiTop .sapUiTfBrd {
       height: 34px;
}

#uiTop #idTypeAheadInput td {
       padding: 0px;
       overflow: visible !important;
}

#uiTop .sapUiSearchFieldCb {
       font-size: 1.5em;
       line-height: 1.5em;
       right: 34px;
}

#uiTop .sapUiTfComboIcon, #uiTop .sapUiSearchFieldIco {
       height: 34px;
       width: 34px;
}

#idDisambiguate {
       position: absolute;
       left: 0px;
       width: 150px;
       top: 34px;
       z-index: 10;
       background-color: rgba(255, 255, 255, 0.9);
/*     border: 1px solid #333;
       border-top: none;*/
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       padding: 2px 4px;
       border-radius: 0 0 4px 4px;
       box-shadow: inset 0 -1px 3px grey; 
       display: block;
}

#idDisambiguate.disabled {
       display: none;
}

#idDisambiguate > div {
       display: none;
}

#idDisambiguate:hover > div {
       display: block;
} 

#synonymInclusion {
       display: block;
}


#uiLogo img {
       position: absolute;
       right: 20px;
       top: 9px;
}

#uiCrossNav {
       float:right;
}

    
#uiCrossNav .flyout-caption {
       font-size: 0.9em;
    color: #666666;
    padding: 0;
    padding-top: 3px;
    padding-right: 20px;
    outline: 0 none;
    position: relative;
    /*left: auto;*/
    float:right;
}

#uiCrossNav .flyout-caption:hover {
    color: #333;
    cursor: pointer; 
}

#uiCrossNav .flyout-caption:before {
    background: url("../images/springer-sprite.png") no-repeat scroll 0 -1250px transparent;
    content: "";
    float:right;
    height: 5px;
    margin: 5px 5px 0 9px;
    width: 7px;
}

#uiCrossNav .flyout-caption:hover:before {
    background: url("../images/springer-sprite.png") no-repeat scroll 0 -1255px transparent;
}



#uiAwesomeBar {
       box-shadow: 0px 1px 0px rgb(244, 244, 244) inset;
       border-top: 1px solid gainsboro;
       /*padding: 0px 5px;*/
       /*background:transparent !important;*/
}

#smartNavMain {
       background-color:#fff; 
       box-shadow: 0px 1px 0px 0px white inset, 0px 18px 18px -18px rgb(239, 239, 239) inset;
}

#viewerContainer {
       height: 95% !important;
    font-size: 12px;
       line-height: 2em;
}

#viewerContainer .title {
    color: #0176C3;
    font-size: 22px;
    margin-top: 5px;
}

#viewerContainer .subtitle {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
}

#viewerContainer .translate {
	margin-left: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    text-align: right;
    visibility: visible;
    display: inline;
    float: right;
}
#viewerContainer .loading {
    visibility: hidden;
}


#tViewerContainer {
       height: 95% !important;
    font-size: 12px;
       line-height: 2em;
}

#tViewerContainer .title {
    color: #0176C3;
    font-size: 22px;
    margin-top: 5px;
}

#tViewerContainer .subtitle {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 15px;
}

#tViewerContainer .translate {
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 0px;
    text-align: right;
    display: inline;
    float: right;
}
#translated .saveBtn {
font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: black;
    background: #f8f8f8 url("../images/database-add-icon24.png") no-repeat left center;
    background-position-x: 7%;
    width: 100%;
    height: 35px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 15px;
}
#translated .saveBtn:hover {
    cursor: pointer;
}
#translated .saveBtnDisabled {
font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: black;
    background: #f8f8f8 url("../images/database-add-icon24.png") no-repeat left center;
    background-position-x: 7%;
    width: 100%;
    height: 35px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 15px;
    color: lightgray;
}
#translated .saveBtnSuccess {
font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: black;
    background: #f8f8f8 url("../images/database-accept-icon24.png") no-repeat left center;
    background-position-x: 7%;
    width: 100%;
    height: 35px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 2px;
    margin-left: 15px;
    margin-top: 15px;
}

#translate  {
	width: 100%;
    display: block;
    margin-left: 13px;
    margin-top: 13px;
    position: relative;
}
#translate .translateBtn {
	font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: black;
    background: #f8f8f8 url("../images/Google-Translate-icon-24.png") no-repeat left center;
    background-position-x: 10%;
    width: 55%;
    height: 35px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-left: 0px;
}

#translate .translateBtn:hover {
    cursor: pointer;
}

#translate .lang {
	font-size: 14px;
    font-weight: bold;
    padding-left: 0px;
    border-width: 1px;
    border-color: lightgray;
    border-left: 0px;
    width: 45%;
    height: 35px;
    background: #f8f8f8;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 0px;
    padding: 5px;
}
#translate .lang:change  {
	min-width: 45%;
	width: auto;
	position: absolute;
}

.translate-progress  {
	position: absolute;
	display: inline;
    padding-right: 400px;
    z-index: 99;
    top: 0;
    right: 0;
    background: transparent;
    padding-top: 300px;
    padding-left: 300px;
}

.translate-progress-show  {
	position: absolute;
    padding-right: 200px;
    z-index: 99;
    top: 0;
    right: 0;
    background: transparent;
    padding-top: 2px;
    display: inline;
}

.translateLink {
    color: #0176C3;
    font-size: 14px;
    font-weight: bold;
}

.hidden  {
	visibility: hidden;
}

.visible  {
	visibility: visible !important;
}

#mainContainer {
       height: 1200px !important;
       border-bottom: 1px solid #eee;
       margin: auto auto 0;
}
#translateContainer {
    position: absolute;
    bottom: -100%;
    height : 100%;
    width : 100%;
    background: white;
    opacity:0;
    font-size: 12px;
    line-height: 2em;
}
#translateContainer .title {
    color: #0176C3;
    font-size: 22px;
    margin-top: 5px;
}
#translateContainer .subtitle {
    font-size: 12px;
    font-style: italic;
}
#translateContainer .orig {
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: right;
}
#tViewerContainer .origBtn {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.box {
    position: relative;
    overflow:hidden;
}
.translateBox #translateContainer {
    bottom: 0;
    -webkit-transition: all 1s, 
    -webkit-transform 1s;
    transition: all 1s, transform 1s;
    opacity:1;
}

.horizontalSectionDark {
       border-top: 1px solid rgb(249, 249, 249);
       border-bottom: 1px solid rgb(208, 208, 208);
       box-shadow: 0px 1px 0px white;
}

.backgroundGradient {
       background: #f8f8f8; /* Old browsers */
       background: -moz-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); /* IE10+ */
       background: linear-gradient(to bottom, #f8f8f8 0%,#e5e5e5 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

#smartNavFooter {
       min-height: 80px;
       padding: 20px 32px;
       transition: all 0.25s ease-in-out 0s;
       box-shadow: 0px -1px 0px 0px gainsboro;
       font-size: 1.1em;
       color: rgb(102, 102, 102);
}

#uiLeft, #uiRight {
}

#uiMain {
       min-height: 850px;
       background-color: transparent;
       padding: 1em 1em 0 0;
}

/****
Other stuff
***/


* {
       outline:none !important;
}

.outer_sap_highlight{
    display: inline-block;
    padding: 10px;
    position: relative;
    top: -9px;
    left: -9px;
}


#callout{
    background-color: black;
    color:white;
    font-size:20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border:solid 2px gray;
    visibility: hidden;
}

/****
    Text Selection Panel style definition
***/
#selectionPanel{
/*     background-color: white; */
/*     color:blue; */
/*     font-size:20px; */
/*     -webkit-border-radius: 12px; */
/*     -moz-border-radius: 12px; */
/*     border-radius: 12px; */
/*     border:solid 2px black; */
/*     visibility: hidden; */
/*     padding-top: 10px !important; */
/*     padding-bottom: 10px !important; */
/*     z-index:10000; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.sap_custom_callout{
        /*background-color: white;*/
    color:blue;
    font-size:20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /*border:solid 2px black;*/
    visibility: hidden;
    /*padding-top: 10px !important;*/
    /*padding-bottom: 10px !important;*/
    z-index:10000 !important;
    box-shadow: 0 4px 17px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 4px 17px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 4px 17px rgba(0,0,0,0.4);
    background-color: white;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border: 3px solid #dddddd;
}
#selectionPanel #panelHanger {
    position:absolute;
}


div#selectionPanel {
    position: absolute;
    color: #00679E;
}

div#selectionPanel td:hover {
    text-decoration: underline;
}

.sap_highlight_callout{
    padding: 10px 25px;
}

.sap_highlight_callout .calloutTable {
    width:100%;
    height:100%;
    font-size: 14px;
}

.sap_highlight_callout .calloutAction{
    font-size: 13px;
    vertical-align:middle;
    padding-left:5px;
    color:#0176C3;
    vertical-align:middle;
}

.sap_highlight_callout .calloutAction:hover{
    cursor:pointer;
}

.sap_highlight_callout .calloutActionLink{
}

.sap_highlight_callout .calloutActionLink:hover{
    cursor:pointer;
    text-decoration: underline;
}

.calloutActionNotHover:hover,
.calloutActionNotHover{
    cursor:default !important;
    color:rgb(0,0,0) !important;
}

.sap_highlight_callout .tooltipTitle{
    font-size: 13px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding-bottom: 5px;
}

.sap_highlight_callout .tooltipValue{
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
    padding-left: 10px;
    font-style: italic;
}

.sap_highlight_callout_action_img {
    text-align: center;
    vertical-align: text-bottom;
}

.sap_highlight_callout_action {
    color: #0176C3;
    text-decoration: none;
    font-size: 1.0em;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#selectionPanel > #selectionTable{
    width:100%;
    height:100%;
    padding:5px;
    font-size: 15px;
    font-style:normal;
}

#selectionPanel > #selectionTable td:first-child{
    padding-left:10px;
}

#selectionPanel > #selectionTable tr:first-child td {
    padding-top:4px;
}

#selectionPanel > #selectionTable td {
    vertical-align: middle;
    padding-bottom:4px;
}

#selectionPanel > #selectionTable td > img {
    max-width: initial !important;
    vertical-align:text-bottom !important;
}

#selectionPanel > #selectionTable td:last-child > div{
    padding-left: 5px;
    width: auto;
    max-height: 128px;
}

#selectedText{
    width: 180px;
    max-height: 128px;
}

#searchWrapper {
    visibility: hidden;
    display:none;
}

#searchText {
    /*color:red;*/
}

#hiddenFullText{
    visibility: hidden;
    display:none;
}

.selectionWrapper:hover{
    cursor:pointer;
    text-decoration: underline;
}


.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}


/****
    Custom highlights on PDF Style definition
***/
.page > canvas{
      pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page , .page > .textLayer{
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.layer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
  pointer-events:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.layer > div {
       color: transparent;
       position: absolute;
       line-height: 1;
       white-space: pre;
       pointer-events:none;
       z-index: 5000;
}

div.layer span {
       cursor: pointer;
       pointer-events:all;
}

.sap_highlight{
    margin: -3px;
    padding: 3px;
    background-color: rgba(180, 0, 170, 0.2);
    border-radius: 4px;
}

.sap_highlight:hover{
    cursor: pointer;
}

.highlightText{
    background-color:red;
}

.hovered{
    cursor:pointer !important;
}

.sap_hide_highlight {
    visibility: hidden;
}

.sap_synonyms_highlight {
       background-color: rgba(180, 0, 170, 0.2);
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}

.sap_reference_highlight {
    background-color:rgba(0,0,255,0.3);
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}

.sap_marker_highlight{
    background-color:rgba(0,226,255,0.3);
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}

.sap_search_highlight{
    background-color: rgba(180, 0, 170, 0.2);
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}

.sap_concept_highlight {
    background-color: rgba(0, 180, 170, 0.2);
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}

.sap_comment_icon {
    position:absolute;
}

.begin{
    border-radius: 4px 0px 0px 4px;
}

.end{
    border-radius: 0px 4px 4px 0px;
}

.middle{
    border-radius: 0px;
}

.sap_comment_highlight{
    background-color:rgba(255,0,0,0.3);
}




.additionalSpaceForYearSlider {
       padding-top:24px !important;
}

.sapUiUx3DS {
       background-color: inherit;
}

.sapUiUx3DSSVFlow {
       vertical-align: top;
}

/**
PDF viewer toolbar
**/

#sidebarToggle {
       display: none;
}

#mainContainer .findbar {
  left: 0 !important;
}

#mainContainer .doorHanger:after {
  left: 5px !important;
  /*margin-left: -8px;*/
}

.doorHanger {
       background-color: rgba(255,255,255, 0.9) !important;
}

#mainContainer .doorHanger:before {
  left: 5px !important;
  /*margin-left: -9px;*/
}



/**
PDF viewer toolbar
**/

#sidebarToggle {
       display: none;
}

#mainContainer .findbar {
  left: 0 !important;
}

#mainContainer .doorHanger:after {
  left: 5px !important;
  /*margin-left: -8px;*/
}

.doorHanger {
       background-color: rgba(255,255,255, 0.9) !important;
}

#mainContainer .doorHanger:before {
  left: 5px !important;
  /*margin-left: -9px;*/
}



/**
Search result toolbar styling
*/


#paginator-foot, #ResultTable2 .sapUiUx3DSToolbar {
       text-align: center;
       padding: 2px 0;
       margin-bottom: 2px;
       border-radius: 3px;
       border: 1px solid gainsboro;
       background: #f8f8f8; 
       background: -moz-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%); 
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e5e5e5)); 
       background: -webkit-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%);
       background: -o-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); 
       background: -ms-linear-gradient(top, #f8f8f8 0%,#e5e5e5 100%); 
       background: linear-gradient(to bottom, #f8f8f8 0%,#e5e5e5 100%); 
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e5e5e5',GradientType=0 );  
}

#paginator-foot {
    height: 32px;
       width: 100%;
       -moz-box-sizing: border-box;
       box-sizing: border-box;
    padding-right: 24px;
    padding-top: 4px;
    width: 100%;
}

/********************************** 
 * PublicationItem Layout -- BEGIN
*/
.PublicationItemLayout {
       position: relative;
}

.PublicationItemLayout .action a:before {
    content: "» ";
}

.PublicationItemLayoutInner {
       position: relative;
       padding: 10px;
       background-color: white;
       min-width: 100%;
       height: 100%;
       box-sizing: border-box;
       -moz-box-sizing: border-box;
       transition: background-color 0.3s linear 0s,
                           box-shadow 1s linear 0s;
}

.sapUiUx3DSSVItem + .sapUiUx3DSSVItem .PublicationItemLayoutInner {
       border-top: 1px solid #dcdcdc;
}

.PublicationItemLayout:hover .PublicationItemLayoutInner {
       background-color: #fbfbfb;
       box-shadow: 0 1px 0 white inset, 0 -1px 0 white inset;
}

.PublicationItemLayout:active .PublicationItemLayoutInner {
       background-color: #bfb;
       box-shadow: 0 1px 0 white inset, 0 -1px 0 white inset;
}

.PublicationItemLayoutTitle {
       position: relative;
}

.PublicationItemLayoutInner .PublicationItemLayoutTitle > p,
.PublicationItemLayoutInner .PublicationItemLayoutTitle > p * {
       color: #333;
       line-height: 1.5em;
}
.PublicationItemLayoutInner .PublicationItemLayoutTitle > p *:after {
       content: ",\0000a0";
       font-weight: normal
}
.PublicationItemLayoutInner .PublicationItemLayoutTitle > p *:last-child:after { content: none; }

.PublicationItemLayoutInner .PublicationItemLayoutTitle > p .PublicationType:after { content: none; }

.PublicationItemLayoutInner .PublicationAuthors > *:last-child:before { content: " and "; }
.PublicationItemLayoutInner .PublicationAuthors > *:first-child:before { content: none; }
.PublicationItemLayoutInner .PublicationDate:before { content: none; }
.PublicationItemLayoutInner .PublicationYear { font-weight: bold; }
.PublicationItemLayoutInner .PublicationJournal:before { content: "in "; } 
.PublicationItemLayoutInner .PublicationSource:before { content: "from "; } 
.PublicationItemLayoutInner .PublicationPage:before,
.PublicationItemLayoutInner .PublicationType:before { content: none; }
.PublicationItemLayoutInner .PublicationCpnyName:before { content: " Extracted from "; }
.PublicationItemLayoutInner .PublicationExtractDate:before { content: none; }
.PublicationItemLayoutInner .PublicationLanguage:before { content: " Language: "; }

.PublicationItemLayoutInner .PublicationLanguage {
    vertical-align: top;
    position: static !important;
    height: 0.9em;
}

.PublicationItemLayoutInner .PublicationJournal, .PublicationDate, .PublicationType, .PublicationYear, .PublicationSource {
       font-style: italic;
}

.PublicationCpnyName, .PublicationExtractDate {
       color: #333;  
}

.PublicationItemLayoutCntnt {
       position: relative;
       display: inline-block;
    color: #777777;
    line-height: 1.6;
    margin-top: 7px;
}

.PublicationItemLayoutCntnt b { font-weight: bold; }

.sapUiUx3DSSVFloating > .sapUiUx3DSSVItem > .PublicationItemLayout {
       width: 200px;
}

.PublicationItemLayout .PublicationItemLayoutTitle > h2 > * { 
       white-space: inherit;
       color: #0176C3;
    text-decoration: none;
    font-size: 1.1em;
    line-height: 1.1em;
    font-weight: normal;
    cursor: pointer;
}

.PublicationItemLayoutSmall .PublicationItemLayoutTitle > h2 > * {
/*     font-size: 0.9em; */ /* kaj adjusted */
       font-size: 0.7em;    
       width: 100%;
}

/*Small*/

.PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle {
       padding-bottom: 3px;
       margin-bottom: 3px;
       /*border-bottom: 1px solid #DDDDDD;*/
       /* min-height: 32px; */
}

.PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle h2 {
    margin-left: 20px;
}

.PublicationItemLayout.PublicationItemLayoutSmall img {
       position: absolute;
       width: 16px;
       /*display: none;*/
}

.PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutCntnt {
       width: 100%;
}

/*Large*/

.PublicationItemLayout.PublicationItemLayoutLarge .PublicationItemLayoutCntnt {
       /*margin-left: 150px;*/
       min-height: 64px;
}

html[dir="rtl"] .PublicationItemLayout.PublicationItemLayoutLarge .PublicationItemLayoutCntnt {
       /*margin-right: 150px;*/
}

.PublicationItemLayout.PublicationItemLayoutLarge div.PublicationItemLayoutInner img {
       position: absolute;
       left: 0px;
       margin: 3px 3px 3px 0px;
}

.PublicationItemLayout.PublicationItemLayoutLarge .PublicationItemLayoutTitle { padding-left: 35px; }
.PublicationItemLayout.PublicationItemLayoutLarge .PublicationItemLayoutTitle > p {
       display: inline-block;
}
.PublicationItemLayout.PublicationItemLayoutLarge .PublicationItemLayoutTitle > p:after {
       content: "\0000a0";
}

/* If part of CompactLists */

/* NOTE: setting overflow-x/y to "visible" is interpreted as "auto" if the
* alternate overflow-* is set to anything other "visible" [1].
* Thus, changing overflow-x from "hidden" to "visible" while hovering will
* not work in conjunction with overflow-y set to "scroll" or "auto".
* 
 * [1] http://stackoverflow.com/questions/6421966/css-overflow-x-visible-and-overflow-y-hidden-causes-scroll-bar
*/
.CompactList {
       overflow-x: hidden;
/*     overflow-y: auto; */
}
.CompactList:hover {
       overflow-x: visible;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall {
       text-align: left;
       white-space: nowrap;
       height: 5.3em;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutInner {
       width: 100%;
       max-width: 800px;
       padding: 8px;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall:hover .PublicationItemLayoutInner {
       position: absolute;
       width: auto;
       z-index: 100000;
       box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
       border: 1px solid #dcdcdc;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle > p,
.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle > p * {
       line-height: 1.2em;
       overflow: hidden;
       text-overflow: ellipsis;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle > h2 * {
       overflow: hidden;
       text-overflow: ellipsis;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutTitle {
       padding-bottom: 0;
       margin-bottom: 0;
}

.CompactList .PublicationItemLayout.PublicationItemLayoutSmall .PublicationItemLayoutCntnt {
       display: none;
}

/* scrollable */
.scrollable {
       overflow-x: hidden;
       overflow-y: auto;
       max-height: 400px;
}

/* Define custom *other* "PublicationItem" layouts here */

/* END -- PublicationItem Layout */

/********************************** 
 * Components -- BEGIN
*/
    
.component {
    text-align : center;
    border: 1px solid gainsboro;
       box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.04);
    width: 100%;
    display: block;
    margin: 1em 1em 1em 1em;
}

.componentTitle span {
    outline: none;
    font-weight : bold;
    font-size : 1.2em;
       width: 100%;
       padding: 6px 6px 3px 6px;
       -moz-box-sizing: border-box; 
       -webkit-box-sizing: border-box; 
       box-sizing: border-box;
       position: relative;
       left: 1.5em;
    cursor: pointer;
}

.componentToggleButton.icon {
    /* background-color: #fed*/
    background: none;
    /*border: 2px solid #fc6;*/
    border: none;
    display: inline-block;
    vertical-align: top;
    outline: none !important; /* removes dotted outline */
    position: absolute;
    left:0px;
}
.componentToggleButton.icon.active {
    /*border-radius: 100%;*/
    height: 26px;
    width: 26px;
}
.componentToggleButton.icon.active:after{
       height: 0;
    left: 5px;
    width: 9px;
}
.componentToggleButton.icon.active:before {
    /*border-radius: 2px;*/
    height: 0;
    left: 12px;
    width: 9px;
}
.componentToggleButton.icon.active:after {
    bottom: 8px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.componentToggleButton.icon.active:before {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.componentToggleButton.icon.deactive {
    /*border-radius: 100%;*/
    height: 26px;
    width: 26px;
}
.componentToggleButton.icon.deactive:after,
.componentToggleButton.icon.deactive:before {
    /*border-radius: 2px;*/
    height: 0;
    left: 5px;
    width: 9px;
}
.componentToggleButton.icon.deactive:after {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.componentToggleButton.icon.deactive:before {
    top: 8px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.component.sapuiVlt {
       overflow: visible;
}

.component .sapuiVlt {
       display: block;
       position: relative;
       top: 0px;
       margin:0;
       padding: 0;
}

.component .sapuiVltCell {
       border-bottom: 1px solid rgb(233, 233, 233);
}


.sap_textselection_highlight {
    background-color:rgba(0,0,255,0.07);
}

.sap_custom_highlight {
    padding:1px;
    border-radius: 4px;
    margin: -1px;
}



.sap_entity_highlight_synonyms {
    background-color: rgba(180, 0, 170, 0.2);
}
.sap_entity_highlight_search {
    background-color: rgba(180, 0, 170, 0.2);
}

.sap_entity_highlight_noungroup {
    background-color: rgba(0%, 78%, 9%, 0.3);
}

/*.sap_entity_highlight_year {
    background-color: rgba(0%, 0%, 100%, 0.3);
}*/
.sap_entity_highlight_parliament {
    background-color: rgba(0%, 0%, 100%, 0.3);
}

.sap_entity_highlight_person {
    background-color: rgba(18%, 9%, 69%, 0.3);
}

.sap_entity_highlight_locality {
    background-color: rgba(100%, 14%, 20%, 0.3);
}

.sap_entity_highlight_email {
    background-color: rgba(100%, 68%, 0%, 0.3);
}


/*.sap_entity_highlight_pubmed {
    background-color: rgba(100%, 14%, 0%, 0.3);
}*/

/*.sap_entity_highlight_organization_med {
    background-color: rgba(77%, 0%, 50%, 0.3);
}*/
.sap_entity_highlight_organization {
    background-color: rgba(77%, 0%, 50%, 0.3);
}

.sap_entity_highlight_company {
    background-color: rgba(100%, 68%, 0%, 0.3);
}

.sap_entity_highlight_user_concepts{
    background-color: rgba(0, 180, 170, 0.2);
}

#Entities .drilldownPercent {
       width: 30px !important;
       border-radius: 2px;
}

#Entities .drilldownitem {
       background: transparent;
}

#Entities .drilldownitem.selected {
       background-color: #FAFAFA !important;
}

#Entities .sap_entity_highlight_noungroup .drilldownPercent {
    background: rgba(0%, 78%, 9%, 0.3);
}

#Entities .sap_entity_highlight_locality .drilldownPercent {
    background: rgba(100%, 14%, 20%, 0.3);
}

#Entities .sap_entity_highlight_email .drilldownPercent {
    background: rgba(100%, 68%, 0%, 0.3);
}

#Entities .sap_entity_highlight_year .drilldownPercent {
    background: rgba(0%, 0%, 100%, 0.3);
}

#Entities .sap_entity_highlight_parliament .drilldownPercent {
    background: rgba(0%, 0%, 100%, 0.3);
}

#Entities .sap_entity_highlight_person .drilldownPercent {
    background: rgba(18%, 9%, 69%, 0.3);
}

#Entities .sap_entity_highlight_pubmed .drilldownPercent {
    background: rgba(100%, 14%, 0%, 0.3);
}

#Entities .sap_entity_highlight_organization .drilldownPercent {
    background: rgba(77%, 0%, 50%, 0.3);
}

#Entities .sap_entity_highlight_company .drilldownPercent {
    background: rgba(100%, 68%, 0%, 0.3);
}
#Entities .sap_entity_highlight_synonyms .drilldownPercent{
    background: rgba(180, 0, 170, 0.2);
}

#Entities .sap_entity_highlight_search .drilldownPercent{
    background: rgba(180, 0, 170, 0.2);
}
#Entities .sap_entity_highlight_user_concepts .drilldownPercent{
    background: rgba(0, 180, 170, 0.2);
}

#Entities .drilldownTitle {
       left: 35px;
}

#TranslateEntities .drilldownPercent {
       width: 30px !important;
       border-radius: 2px;
}

#TranslateEntities .drilldownitem {
       background: transparent;
}

#TranslateEntities .drilldownitem.selected {
       background-color: #FAFAFA !important;
}

#TranslateEntities .sap_entity_highlight_noungroup .drilldownPercent {
    background: rgba(0%, 78%, 9%, 0.3);
}

#TranslateEntities .sap_entity_highlight_locality .drilldownPercent {
    background: rgba(100%, 14%, 20%, 0.3);
}

#TranslateEntities .sap_entity_highlight_email .drilldownPercent {
    background: rgba(100%, 68%, 0%, 0.3);
}

#TranslateEntities .sap_entity_highlight_year .drilldownPercent {
    background: rgba(0%, 0%, 100%, 0.3);
}

#TranslateEntities .sap_entity_highlight_parliament .drilldownPercent {
    background: rgba(0%, 0%, 100%, 0.3);
}

#TranslateEntities .sap_entity_highlight_person .drilldownPercent {
    background: rgba(18%, 9%, 69%, 0.3);
}

#TranslateEntities .sap_entity_highlight_pubmed .drilldownPercent {
    background: rgba(100%, 14%, 0%, 0.3);
}

#TranslateEntities .sap_entity_highlight_organization .drilldownPercent {
    background: rgba(77%, 0%, 50%, 0.3);
}

#TranslateEntities .sap_entity_highlight_company .drilldownPercent {
    background: rgba(100%, 68%, 0%, 0.3);
}
#TranslateEntities .sap_entity_highlight_synonyms .drilldownPercent{
    background: rgba(180, 0, 170, 0.2);
}

#TranslateEntities .sap_entity_highlight_search .drilldownPercent{
    background: rgba(180, 0, 170, 0.2);
}
#TranslateEntities .sap_entity_highlight_user_concepts .drilldownPercent{
    background: rgba(0, 180, 170, 0.2);
}

#TranslateEntities .drilldownTitle {
       left: 35px;
}

.drilldowncategory {
       position: relative;
       display: block;
       cursor: pointer;
       text-align: left;
       width: 100%;
    border: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
       /*padding: 0;*/
    -moz-transition:color 0.1s;
    -webkit-transition:color 0.1s;
    -o-transition:color 0.1s;
    transition:color 0.1s;
       
}

.selected {
       display: block;
}
.notSelected {
       display: none;
}

.drilldownitem {
       position: relative;
       display: block;
       cursor: pointer;
       text-align: left;
       width: 100%;
    border: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
       /*padding: 0;*/
    -moz-transition:color 0.1s;
    -webkit-transition:color 0.1s;
    -o-transition:color 0.1s;
    transition:color 0.1s;
       
}

.drilldownCategoryTitle {
       position: relative;
       display: block;
       font-weight: bold;
       left: 6px;
    font-size : 1.11em;
    z-index: 5;
    word-wrap: break-word;
    width: 70%;
    float: left;
}

.drilldownTitle {
       position: relative;
       display: block;
       left: 6px;
    font-size : 0.9em;
    z-index: 5;
    word-wrap: break-word;
    width: 70%;
    float: left;
}

.drilldownCount {
       font-size: 0.9em;
       padding-right: 5px;
       float: right;
       position:relative;
       z-index: 2;
}

.drilldownPercent {
       position: absolute;
       left: 0px;
       top: 0px;
       display:block;
       overflow: hidden;
       text-ident: -999em;
       z-index: 1;
       height: 100%;
       min-width: 1px;
}

.drilldownitem:hover {
       color: rgb(238, 125, 17);
}

.drilldownitem.selected {
       color: rgb(238, 125, 17);
       font-weight: bold;
}

.placeholder {
       border:2px dashed #fff;
       border-radius: 10px;
       margin-bottom: 10px;
       min-height: 40px;
       text-align: center;
       opacity: 0.3;
}

.placeholder p {
       line-height:40px;
}

.placeholder img {
       position: absolute;
       right: 5px;
}

.placeholder:hover {
       opacity: 1.0;
}


.placeholderPopup {
       padding: 10px 10px 10px 10px;
       background-color: #ffffff;
       border: 3px solid #dddddd;
}

.placeholderPopup .sapUiUx3TPArrowRight {
       background-image: url(../images/placeholderPopup_arrow_right_custom.png);
}

.placeholderPopup .sapUiUx3TPArrowLeft {
    background-image: url(../images/placeholderPopup_arrow_left_custom.png);
}

.placeholderButton {
       margin-top: 1px;
       margin-bottom: 1px;
       width: 100%;
       text-align: left;
       background-color: #efefef; 
}

div.tagcloud {
  width: 100%;
}

#TagCloud text {
       -moz-transition:opacity 0.3s color 0.3s;
    -webkit-transition:opacity 0.3s color 0.3s;
    -o-transition:opacity 0.3s color 0.3s;
    transition:opacity 0.3s color 0.3s;
    opacity: .7;
}

#TagCloud text:hover {
/*     opacity: .5 !important;*/
       opacity: 1.0;
       fill: #333 !important;
       font-weight: bold !important;
}

.yearChartBar {
       height: 100%;
       -moz-transition:color 0.1s;
    -webkit-transition:color 0.1s;
    -o-transition:color 0.1s;
    transition:color 0.1s;
}

.yearChartBar:hover {
       background-color: #ccc;
}

.yearChartBar div {
       min-height: 5%;
       background: #ffcc66; /* Old browsers */
       background: -moz-linear-gradient(top,  #ffcc66 0%, #ff7f00 100%); /* FF3.6+ */
       background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc66), color-stop(100%,#ff7f00)); /* Chrome,Safari4+ */
       background: -webkit-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* Chrome10+,Safari5.1+ */
       background: -o-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* Opera 11.10+ */
       background: -ms-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* IE10+ */
       background: linear-gradient(to bottom,  #ffcc66 0%,#ff7f00 100%); /* W3C */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc66', endColorstr='#ff7f00',GradientType=0 ); /* IE6-9 */
}

.yearChartBar:hover div {
       background: #007CC0 !important;
}

.yearChartBar.empty div {
    min-height: 0%;
    height: 1px !important;
    background: rgba(85,85,85,80);
}

#yearSlider-grip2, #yearSlider-grip {
       border-radius: 2px;  
}

.monthChartBar {
	height: 100%;
	-moz-transition:color 0.1s;
    -webkit-transition:color 0.1s;
    -o-transition:color 0.1s;
    transition:color 0.1s;
}

.monthChartBar:hover {
	background-color: #ccc;
}

.monthChartBar div {
	min-height: 5%;
	background: #ffcc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffcc66 0%, #ff7f00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc66), color-stop(100%,#ff7f00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffcc66 0%,#ff7f00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffcc66 0%,#ff7f00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc66', endColorstr='#ff7f00',GradientType=0 ); /* IE6-9 */
}

.monthChartBar div {
	background: #007CC0 !important;
}

.monthChartBar.empty div {
    min-height: 0%;
    height: 1px !important;
    background: rgba(85,85,85,80);
}

#monthSlider-grip2, #monthSlider-grip {
       border-radius: 2px;  
}


#Popularity,
#Year {
       width: 98% !important;
}

#Popularity .sapUiVltCell:first-of-type,
#Year .sapUiHLayout {
    width: 100%;
    font-weight: bold;
    padding-top: 5px;
    border-bottom: 2px solid #0176C3;
    margin-bottom: 5px;
}

#Year .sapUiHLayoutChildWrapper {
       display: inline !important;
}

#Year .sapUiHLayoutChildWrapper > .minYear {
       float: left;
}

#Year .sapUiHLayoutChildWrapper > .maxYear {
       float: right;
}

/*#Year .sapUiHLayout div:first-of-type {
       float: left;
}

#Year .sapUiHLayout div:last-of-type {
    float: right;
}*/

#Popularity .legend td:last-of-type {
       float: right;
}

#Popularity .legend span:last-of-type {
       margin-left: 5px;
}

/*
* Components -- END 
 **********************************/

/**
AwesomeBar
**/

#idAwesomeBar {
       height: 2em;
}

a.awesomeEntry {
       color: #666;
       text-decoration:none;
       line-height: 2em;
       -moz-transition:color 0.1s;
    -webkit-transition:color 0.1s;
    -o-transition:color 0.1s;
    transition:color 0.1s;
}

td:hover a.awesomeEntry {
       color: #8ab;
       border-color: #8ab;
       text-decoration:none;
}

td:active a.awesomeEntry {
       color: #0176C3;
}

a.icon {
    /* background-color: #fed*/
    background: none;
    /*border: 2px solid #fc6;*/
    border: none;
    display: inline-block;
    position: relative;
    vertical-align: top;
    outline: none !important; /* removes dotted outline */
}

a.icon:after,
a.icon:before {
    /*background: #fed;*/
    border: 2px solid #fc6;
    content: '';
    position: absolute;
    -moz-transition:border-color 0.1s;
    -webkit-transition:border-color 0.1s;
    -o-transition:border-color 0.1s;
    transition:border-color 0.1s;    
}

/* hover color */
a.icon:hover,
a.icon:hover:after,
a.icon:hover:before {
    border-color: #8ab; 
    /*background-color: #ffe;*/
}

/* click color */
a.icon:active:before,
a.icon:active:after {
       border-color: #0176C3;
}


/* disabled style */
a.icon[disabled]:before,
a.icon[disabled]:after {
       border-color: #ccc;
}

/* previous */
a.prev {
    /*border-radius: 100%;*/
    height: 26px;
    /*width: 26px;*/
    width: 400px;
    padding-left: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.prev:after,
a.prev:before {
    /*border-radius: 2px;*/
    height: 0;
    left: 5px;
    width: 9px;
}
a.prev:after {
    bottom: 8px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
a.prev:before {
    top: 8px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}


/* next */
a.next {
    /*border-radius: 100%;*/
    float:right;
    height: 26px;
    width: 400px;
    padding-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
a.next:after,
a.next:before {
    /*border-radius: 2px;*/
    height: 0;
    right: 5px;
    width: 9px;
}
a.next:after {
    top: 8px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
a.next:before {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/**
Result List Info Panel
**/

#ResultTable2 .InfoPanel tr {
       line-height: 20px;
}

#ResultTable2 .InfoPanel .sapUiHLayout {
       white-space: normal;
       display: inline;
}

#ResultTable2 .InfoPanel .ResultsCount span {
    font-weight: bold;
    font-size: 1.6em;
    display: inline;
    vertical-align: baseline;
    margin-right: 5px;
}
#ResultTable2 .InfoPanel .ResultsCount span[title="Results"],
#ResultTable2 .InfoPanel .ResultsCount span[title="for"] {
    font-weight: normal;
    font-size: medium;
}

#ResultTable2 .InfoPanel .DurationTime {
       font-style: italic;
    float: right;
}

#ResultTable2 .InfoPanel .DurationTime .Loading {
       display: block;
       width: 50px;
       height: 16px;
       float: right;
    background: url(../images/loading_search.gif) no-repeat right;
}

#ResultTable2 .InfoPanel .filter {
       margin-left: 8px;
    color : orange !important;
}
#ResultTable2 .InfoPanel .removableFilter {
       padding-right: 15px;
    background: url(../images/remove_grey.png) no-repeat right;
}
#ResultTable2 .InfoPanel .year.removableFilter.hover,
#ResultTable2 .InfoPanel .removableFilter:hover {
    background: url(../images/remove_red.png)  no-repeat right; 
}

#ResultTable2 .InfoPanel .year {
    margin-left: 5px;
    margin-right: 5px;
    color : orange !important;
}
#ResultTable2 .InfoPanel .year.hover {
    text-decoration:underline;
    cursor: hand; cursor: pointer;
}

/**
PDFInfo
**/

#PDFInfo {
       -moz-box-sizing: border-box;
       box-sizing: border-box;
       margin-bottom: 5px;
       padding: 0 20px;
       color: #666;
}

#PDFInfo span {
    font-size: 11px;
    line-height: 16px;
}

#PDFInfo .title {
       color: #000;
    font-size: 18px;
       line-height: 19px;
       margin-top: 5px;
       margin-bottom: 5px;
}

#PDFInfo .year,
#PDFInfo .volume,
#PDFInfo .pages {
    margin-left: 5px;
}

#PDFInfo .authors span {
       border-bottom-color: rgb(215, 214, 214);
       border-bottom-style: solid;
       border-bottom-width: 1px;
       font-size: 13px;
       line-height: 19px;
       margin-right: 10px;
}

#PDFInfo .isbn span {
    font-size: 13px;
    margin-right: 5px;
    margin-top: 5px;
}

/**
Synonym
**/

.synonymCB {
       margin-right: 8px;
}

/**
Wiki dialog model
**/
.wikidialog {
       z-index: 12000 !important;
/*     opacity: 0.9 !important; */
}

.wikidialog .sapUiDlgCont {
   max-height: 500px;   
}

.wikicarousel {
       margin-bottom: 10px;
}

.wikisingleimage {
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 10px;
}

.thumb {
       display: none;
}

.infobox {
       display: none;
}

/**
Footer styling 
**/
#smartNavFooter {
       color: #666;
       margin: 7px 0;
       letter-spacing: 0.02em;
       line-height: 1.2;
       vertical-align: baseline;
       font-size: 1.1em;
}

#footer-nav-misc {
       clear: both;
}

#footer-nav-misc h2 {
       font-size: 1.2em;
       font-weight: bold;
       padding-bottom: 5px;
}
#footer-nav-misc .block {
       border-right: 1px solid rgba(197, 196, 196, 0.5);
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.7);
    display: block;
    float: left;
    margin: 10px 2% 0 0;
    min-height: 145px;
    padding: 0 21px 10px 0;
    width: 21%;
}

#footer-nav-misc li {
       font-size: 0.8em;
       line-height: 1.9;
       display: list-item;
       margin: 0;
       padding: 0;
}

#footer-nav-misc a {
       color: #666;
       text-decoration: none;
}

#legal {
       margin-top: 2em;
       clear: both;
}
#legal a {
       color: #666;
       text-decoration: none;
       float: right;
}

/**
Concept Dialog
*/
.conceptDialog {
       z-index: 12000 !important;
}

.conceptDialog .PublicationItemLayout {
       white-space: normal !important;
}

.chartBody  {
	min-height: 0;
}

.dateLabel1 {
       text-align:right;
       font-weight:bold;
       padding-right: 5px;
       margin-top:8px;
       margin-bottom:8px;
}

.dateLabel2 {
       text-align:right;
       font-weight:bold;
       padding-right: 8px;
       margin-top:8px;
       margin-bottom:8px;
}

.datePickerStyle {
       margin-top:8px;
       margin-bottom:8px;
       z-index:10;
}

.entitySearchField { margin: 0 5px; }

div.sentiment {
    background: #FFFFFF !important;
    width: 100%;
}
#sentimentGradient {
	margin-top: 10px;
	margin-left: auto ;
  	margin-right: auto ;
	width: 88%;
    height: 20px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red, yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red, yellow, green); /* Standard syntax (must be last) */
}

.sentimentSlider  {
	padding-top: 7px !important;
	width: 90%;
	margin-left: 11px;
  	margin-right: auto ;
}

#drop_zone {
	color: #0f3c4b;
	border: 5px dotted #c8dadf;
	width:  220px;
	height: 120px;
	margin-left: 3px;
	margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#drop_zone img  {
	max-width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin-left: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
}

#drop_zone .list  {
	padding-top: 8px;
}
#drop_zone .errors  {
	padding-top: 5px;
}

#drop_zone .box_file {
	display: none;
}

#event  {
	width: 100%;
    display: block;
    margin-left: 13px;
    margin-top: 0px;
}
#event .eventBtn {
   font-size: 14px;
   font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    color: black;
    background: #f8f8f8 url("../images/event-32.png") no-repeat left center;
    background-position-x: 7%;
    width: 100%;
    height: 35px;
	border: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-left: 0px;
}

#event .eventBtn:hover {
    cursor: pointer;
}

