.highlight {
    background-color: #FFFF88;
}

.search {
    background-color: rgba(180, 0, 170, 0.2);
}

.person {
    background-color: rgba(18%, 9%, 69%, 0.3);
}

.noun_group {
    background-color: rgba(0%, 78%, 9%, 0.3);
}

.locality {
    background-color: rgba(100%, 14%, 20%, 0.3);
}

.parliament {
    background-color: rgba(0%, 0%, 100%, 0.3);
}

.organization {
    background-color: rgba(100%, 14%, 95%, 0.3);
}

.email {
    background-color: rgba(100%, 68%, 0%, 0.3);
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}