/* Copyright 2012 Mozilla Foundation
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #404040;
/*   background-image: url(../images/texture.png); */
}

body,
input,
button,
select {
  font: message-box;
}

.hidden {
  display: none;
}
[hidden] {
  display: none !important;
}

#viewerContainer:-webkit-full-screen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

#viewerContainer:-moz-full-screen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

#viewerContainer:fullscreen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

#translateContainer:-webkit-full-screen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

#translateContainer:-moz-full-screen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: none;
}

#translateContainer:fullscreen {
  top: 0px;
  border-top: 2px solid transparent;
  background-color: #404040;
  background-image: url(../images/texture.png);
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

:-webkit-full-screen .page {
  margin-bottom: 100%;
}

:-moz-full-screen .page {
  margin-bottom: 100%;
}

:fullscreen .page {
  margin-bottom: 100%;
}

#viewerContainer.presentationControls {
  cursor: default;
}
#translateContainer.presentationControls {
  cursor: default;
}

/* outer/inner center provides horizontal center */
#mainContainer .outerCenter {
  float: right;
  position: relative;
  right: 50%;
}
html[dir='rtl'] .outerCenter {
  float: left;
  position: relative;
  left: 50%;
}
#mainContainer .innerCenter {
  float: right;
  position: relative;
  right: -50%;
}
html[dir='rtl'] .innerCenter {
  float: left;
  position: relative;
  left: -50%;
}

#outerContainer {
    /* padding:15px; */
}

#sidebarContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200px;
  visibility: hidden;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: ease;
  transition-duration: 200ms;
  transition-timing-function: ease;

}
#outerContainer #sidebarContainer {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  left: -200px;
}
html[dir='rtl'] #sidebarContainer {
  -webkit-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  right: -200px;
}

#outerContainer.sidebarMoving > #sidebarContainer,
#outerContainer.sidebarOpen > #sidebarContainer {
  visibility: visible;
}
 #outerContainer.sidebarOpen > #sidebarContainer {
  left: 0px;
}
html[dir='rtl'] #outerContainer.sidebarOpen > #sidebarContainer {
  right: 0px;
}

#mainContainer {
   /*visibility: hidden;*/
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 320px;
  -webkit-transition-duration: 200ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-timing-function: ease;
  -ms-transition-duration: 200ms;
  -ms-transition-timing-function: ease;
  -o-transition-duration: 200ms;
  -o-transition-timing-function: ease;
  transition-duration: 200ms;
  transition-timing-function: ease;
  width: 100%;
  height: 88%;
  margin: auto;
  margin-bottom: 20px;
  overflow:hidden;
}
 #outerContainer.sidebarOpen > #mainContainer {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  left: 200px;
}
html[dir='rtl'] #outerContainer.sidebarOpen > #mainContainer {
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  right: 200px;
}

#sidebarContent {
  top: 32px;
  bottom: 0;
  overflow: auto;
  /*position: absolute;*/
  width: 200px;
  z-index:2;
  background-color: hsla(0,0%,0%,.1);
  box-shadow: inset -1px 0 0 hsla(0,0%,0%,.25);
}
#outerContainer #sidebarContent {
  left: 0;
}
html[dir='rtl'] #sidebarContent {
  right: 0;
}

#viewerContainer {
  overflow: auto;
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
  width: 100%;
  height: 60px;
  position: relative;
  /*top: 32px;*/
  right: 0;
  bottom: 0;
  left: 0;
}
#translateContainer {
  overflow: auto;
  box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
  width: 100%;
  height: 60px;
  position: relative;
  /*top: 32px;*/
  right: 0;
  bottom: 0;
  left: 0;
}


.toolbar {
  /*position: absolute;*/
  left: 0;
  right: 0;
  height: 32px;
  z-index: 9999;
  cursor: default;
}

#toolbarContainer {
  width: 100%;
}

#toolbarSidebar {
  width: 200px;
  height: 32px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25),
              inset 0 -1px 0 hsla(0,0%,100%,.05),
              0 1px 0 hsla(0,0%,0%,.15),
              0 0 1px hsla(0,0%,0%,.1);
}

#toolbarViewer, .findbar {
  position: relative;
  height: 32px;
  border-radius: 3px;
  border: 1px solid gainsboro;
}

.findbar {
  top: 32px;
  position: absolute;
  z-index: 10000;
  height: 32px;

  min-width: 16px;
  padding: 0px 6px 0px 6px;
  margin: 4px 2px 4px 2px;
  color: hsl(0,0%,85%);
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  cursor: default;
}

#mainContainer .findbar {
  left: 68px;
}

html[dir='rtl'] .findbar {
  right: 68px;
}

.findbar label {
  -webkit-user-select: none;
  -moz-user-select: none;
}

#findInput[data-status="pending"] {
  background-image: url(../images/loading-small.png);
  background-repeat: no-repeat;
  background-position: right;
}

.doorHanger {
  border: 1px solid hsla(0,0%,0%,.5);
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.doorHanger:after, .doorHanger:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.doorHanger:after {
  border-bottom-color: hsla(0,0%,32%,.99);
  border-width: 8px;
}
.doorHanger:before {
  border-bottom-color: hsla(0,0%,0%,.5);
  border-width: 9px;
}

#mainContainer .doorHanger:after {
  left: 13px;
  /*margin-left: -8px;*/
}

#mainContainer .doorHanger:before {
  left: 13px;
  /*margin-left: -9px;*/
}

html[dir='rtl'] .doorHanger:after {
  right: 13px;
  /*margin-right: -8px;*/
}

html[dir='rtl'] .doorHanger:before {
  right: 13px;
  /*margin-right: -9px;*/
}

#findMsg {
  font-style: italic;
  color: #A6B7D0;
}

.notFound {
  background-color: rgb(255, 137, 153);
}

#mainContainer #toolbarViewerLeft {
  margin-left: -1px;
}
html[dir='rtl'] #toolbarViewerRight {
  margin-left: -1px;
}


#mainContainer #toolbarViewerLeft,
html[dir='rtl'] #toolbarViewerRight {
  position: absolute;
  top: 0;
  left: 0;
}
#mainContainer #toolbarViewerRight,
html[dir='rtl'] #toolbarViewerLeft {
  position: absolute;
  top: 0;
  right: 0;
}
#mainContainer #toolbarViewerLeft > *,
#mainContainer #toolbarViewerMiddle > *,
#mainContainer #toolbarViewerRight > *,
#mainContainer .findbar > * {
  float: left;
}
html[dir='rtl'] #toolbarViewerLeft > *,
html[dir='rtl'] #toolbarViewerMiddle > *,
html[dir='rtl'] #toolbarViewerRight > *,
html[dir='rtl'] .findbar > * {
  float: right;
}

#mainContainer .splitToolbarButton {
  margin: 3px 2px 4px 0;
  display: inline-block;
}
html[dir='rtl'] .splitToolbarButton {
  margin: 3px 0 4px 2px;
  display: inline-block;
}
#mainContainer .splitToolbarButton > .toolbarButton {
  border-radius: 0;
  float: left;
}
html[dir='rtl'] .splitToolbarButton > .toolbarButton {
  border-radius: 0;
  float: right;
}

.toolbarButton {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 25px;
}

.toolbarButton > span {
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.toolbarButton[disabled] {
  opacity: .5;
}

.toolbarButton.group {
  margin-right: 0;
}

.splitToolbarButton.toggled .toolbarButton {
  margin: 0;
}

.splitToolbarButton:hover > .toolbarButton,
.splitToolbarButton:focus > .toolbarButton,
.splitToolbarButton.toggled > .toolbarButton,
.toolbarButton.textButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: ease;
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: ease;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;

}
.splitToolbarButton > .toolbarButton:hover,
.splitToolbarButton > .toolbarButton:focus,
.dropdownToolbarButton:hover,
.toolbarButton.textButton:hover,
.toolbarButton.textButton:focus {
  background-color: hsla(0,0%,0%,.2);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 0 1px hsla(0,0%,0%,.05);
  z-index: 199;
}
#mainContainer .splitToolbarButton > .toolbarButton:first-child,
html[dir='rtl'] .splitToolbarButton > .toolbarButton:last-child {
  position: relative;
  margin: 0;
  margin-right: -1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right-color: transparent;
}
#mainContainer .splitToolbarButton > .toolbarButton:last-child,
html[dir='rtl'] .splitToolbarButton > .toolbarButton:first-child {
  position: relative;
  margin: 0;
  margin-left: -1px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left-color: transparent;
}
.splitToolbarButtonSeparator {
  padding: 8px 0;
  width: 1px;
  background-color: hsla(0,0%,00%,.5);
  z-index: 99;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.08);
  display: inline-block;
  margin: 5px 0;
}
#mainContainer .splitToolbarButtonSeparator {
  float: left;
}
html[dir='rtl'] .splitToolbarButtonSeparator {
  float: right;
}
.splitToolbarButton:hover > .splitToolbarButtonSeparator,
.splitToolbarButton.toggled > .splitToolbarButtonSeparator {
  padding: 12px 0;
  margin: 1px 0;
  box-shadow: 0 0 0 1px hsla(0,0%,100%,.03);
  -webkit-transition-property: padding;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: padding;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: ease;
  -ms-transition-property: padding;
  -ms-transition-duration: 10ms;
  -ms-transition-timing-function: ease;
  -o-transition-property: padding;
  -o-transition-duration: 10ms;
  -o-transition-timing-function: ease;
  transition-property: padding;
  transition-duration: 10ms;
  transition-timing-function: ease;
}

.toolbarButton,
.dropdownToolbarButton {
  min-width: 16px;
  padding: 2px 6px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: hsl(0,0%,95%);
  font-size: 12px;
  line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* Opera does not support user-select, use <... unselectable="on"> instead */
  cursor: default;
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 150ms;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: 150ms;
  -ms-transition-timing-function: ease;
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: 150ms;
  -o-transition-timing-function: ease;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

#mainContainer .toolbarButton,
#mainContainer .dropdownToolbarButton {
  margin: 3px 2px 4px 0;
}
html[dir='rtl'] .toolbarButton,
html[dir='rtl'] .dropdownToolbarButton {
  margin: 3px 0 4px 2px;
}

.toolbarButton:hover,
.toolbarButton:focus,
.dropdownToolbarButton {
  background-color: hsla(0,0%,0%,.12);
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.15) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}

.toolbarButton:hover:active,
.dropdownToolbarButton:hover:active {
  background-color: hsla(0,0%,0%,.2);
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border-color: hsla(0,0%,0%,.35) hsla(0,0%,0%,.4) hsla(0,0%,0%,.45);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: 10ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: 10ms;
  -o-transition-timing-function: linear;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 10ms;
  transition-timing-function: linear;
}

.toolbarButton.toggled,
.splitToolbarButton.toggled > .toolbarButton.toggled {
  background-color: hsla(0,0%,0%,.3);
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.45) hsla(0,0%,0%,.5);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  -webkit-transition-property: background-color, border-color, box-shadow;
  -webkit-transition-duration: 10ms;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color, border-color, box-shadow;
  -ms-transition-duration: 10ms;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color, border-color, box-shadow;
  -o-transition-duration: 10ms;
  -o-transition-timing-function: linear;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 10ms;
  transition-timing-function: linear;
}

.toolbarButton.toggled:hover:active,
.splitToolbarButton.toggled > .toolbarButton.toggled:hover:active {
  background-color: hsla(0,0%,0%,.4);
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.5) hsla(0,0%,0%,.55);
  box-shadow: 0 1px 1px hsla(0,0%,0%,.2) inset,
              0 0 1px hsla(0,0%,0%,.3) inset,
              0 1px 0 hsla(0,0%,100%,.05);
}

.dropdownToolbarButton {
  width: 120px;
  max-width: 120px;
  padding: 3px 2px 2px;
  overflow: hidden;
  background: url(../images/toolbarButton-menuArrows.png) no-repeat;
}
#mainContainer .dropdownToolbarButton {
  background-position: 95%;
}
html[dir='rtl'] .dropdownToolbarButton {
  background-position: 5%;
}

.dropdownToolbarButton > select {
  -webkit-appearance: none;
  -moz-appearance: none; /* in the future this might matter, see bugzilla bug #649849 */
  min-width: 140px;
  font-size: 12px;
  color: #666; /*hsl(0,0%,95%);*/
  margin: 0;
  padding: 0;
  border: none;
  background: rgba(0,0,0,0); /* Opera does not support 'transparent' <select> background */
}

.dropdownToolbarButton > select > option {
  /*background: hsl(0,0%,24%);*/
  background: rgba(255,255,255, 0.9);
}

#customScaleOption {
  display: none;
}

#pageWidthOption {
  border-bottom: 1px rgba(255, 255, 255, .5) solid;
}

#mainContainer .splitToolbarButton:first-child,
#mainContainer .toolbarButton:first-child,
html[dir='rtl'] .splitToolbarButton:last-child,
html[dir='rtl'] .toolbarButton:last-child {
  margin-left: 4px;
}
#mainContainer .splitToolbarButton:last-child,
#mainContainer .toolbarButton:last-child,
html[dir='rtl'] .splitToolbarButton:first-child,
html[dir='rtl'] .toolbarButton:first-child {
  margin-right: 4px;
}

.toolbarButtonSpacer {
  width: 30px;
  display: inline-block;
  height: 1px;
}

.toolbarButtonFlexibleSpacer {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  min-width: 30px;
}

.toolbarButton#sidebarToggle::before {
  display: inline-block;
  content: url(../images/toolbarButton-sidebarToggle.png);
}

#mainContainer #findPrevious {
  margin-left: 3px;
}
#mainContainer #findNext {
  margin-right: 3px;
}

html[dir='rtl'] #findPrevious {
  margin-right: 3px;
}
html[dir='rtl'] #findNext {
  margin-left: 3px;
}

#mainContainer .toolbarButton.findPrevious::before {
  display: inline-block;
  content: url(../images/findbarButton-previous.png);
}

html[dir='rtl'] .toolbarButton.findPrevious::before {
  display: inline-block;
  content: url(../images/findbarButton-previous-rtl.png);
}

#mainContainer .toolbarButton.findNext::before {
  display: inline-block;
  content: url(../images/findbarButton-next.png);
}

html[dir='rtl'] .toolbarButton.findNext::before {
  display: inline-block;
  content: url(../images/findbarButton-next-rtl.png);
}

#mainContainer .toolbarButton.pageUp::before {
  display: inline-block;
  content: url(../images/toolbarButton-pageUp.png);
}

html[dir='rtl'] .toolbarButton.pageUp::before {
  display: inline-block;
  content: url(../images/toolbarButton-pageUp-rtl.png);
}

#mainContainer .toolbarButton.pageDown::before {
  display: inline-block;
  content: url(../images/toolbarButton-pageDown.png);
}

html[dir='rtl'] .toolbarButton.pageDown::before {
  display: inline-block;
  content: url(../images/toolbarButton-pageDown-rtl.png);
}

.toolbarButton.zoomOut::before {
  display: inline-block;
  content: url(../images/toolbarButton-zoomOut.png);
}

.toolbarButton.zoomIn::before {
  display: inline-block;
  content: url(../images/toolbarButton-zoomIn.png);
}

.toolbarButton.fullscreen::before {
  display: inline-block;
  content: url(../images/toolbarButton-fullscreen.png);
}

.toolbarButton.print::before {
  display: inline-block;
  content: url(../images/toolbarButton-print.png);
}

.toolbarButton.openFile::before {
  display: inline-block;
  content: url(../images/toolbarButton-openFile.png);
}

.toolbarButton.download::before {
  display: inline-block;
  content: url(../images/toolbarButton-download.png);
}

.toolbarButton.bookmark {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3px;
  padding-top: 4px;
}

#viewBookmark[href='#'] {
  opacity: .5;
  pointer-events: none;
}

.toolbarButton.bookmark::before {
  content: url(../images/toolbarButton-bookmark.png);
}

#viewThumbnail.toolbarButton::before {
  display: inline-block;
  content: url(../images/toolbarButton-viewThumbnail.png);
}

#viewOutline.toolbarButton::before {
  display: inline-block;
  content: url(../images/toolbarButton-viewOutline.png);
}

#viewFind.toolbarButton::before {
  display: inline-block;
  content: url(../images/toolbarButton-search.png);
}


.toolbarField {
  padding: 3px 6px;
  margin: 4px 0 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgba(255,255,255, 0.8); /*hsla(0,0%,100%,.09);*/
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset,
              0 1px 0 hsla(0,0%,100%,.05);
  color: #666;
  font-size: 12px;
  line-height: 14px;
  outline-style: none;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
}

.toolbarField[type=checkbox] {
  display: inline-block;
  margin: 8px 0px;
}

.toolbarField.pageNumber {
  min-width: 16px;
  text-align: right;
  width: 40px;
}

.toolbarField.pageNumber::-webkit-inner-spin-button,
.toolbarField.pageNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toolbarField:hover {
  background-color: hsla(0,0%,100%,.11);
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.43) hsla(0,0%,0%,.45);
}

.toolbarField:focus {
  background-color: hsla(0,0%,100%,.15);
  border-color: hsla(204,100%,65%,.8) hsla(204,100%,65%,.85) hsla(204,100%,65%,.9);
}

.toolbarLabel {
  min-width: 16px;
  padding: 3px 6px 3px 2px;
  margin: 4px 2px 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #666; /*hsl(0,0%,85%);*/
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

#thumbnailView {
  position: absolute;
  width: 120px;
  top: 0;
  bottom: 0;
  padding: 10px 40px 0;
  overflow: auto;
}

.thumbnail {
  float: left;
}

.thumbnail:not([data-loaded]) {
  border: 1px dashed rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}

.thumbnailImage {
  -moz-transition-duration: 150ms;
  border: 1px solid transparent;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  z-index: 99;
}

.thumbnailSelectionRing {
  border-radius: 2px;
  padding: 7px;
  -moz-transition-duration: 150ms;
}

a:focus > .thumbnail > .thumbnailSelectionRing > .thumbnailImage,
.thumbnail:hover > .thumbnailSelectionRing > .thumbnailImage {
  opacity: .9;
}

a:focus > .thumbnail > .thumbnailSelectionRing,
.thumbnail:hover > .thumbnailSelectionRing {
  background-color: hsla(0,0%,100%,.15);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.2) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,.9);
}

.thumbnail.selected > .thumbnailSelectionRing > .thumbnailImage {
  box-shadow: 0 0 0 1px hsla(0,0%,0%,.5);
  opacity: 1;
}

.thumbnail.selected > .thumbnailSelectionRing {
  background-color: hsla(0,0%,100%,.3);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,1);
}

#outlineView {
  position: absolute;
  width: 192px;
  top: 0;
  bottom: 0;
  padding: 4px 4px 0;
  overflow: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#outerContainer .outlineItem > .outlineItems {
  margin-left: 20px;
}

html[dir='rtl'] .outlineItem > .outlineItems {
  margin-right: 20px;
}

.outlineItem > a {
  text-decoration: none;
  display: inline-block;
  min-width: 95%;
  height: auto;
  margin-bottom: 1px;
  border-radius: 2px;
  color: hsla(0,0%,100%,.8);
  font-size: 13px;
  line-height: 15px;
  -moz-user-select: none;
  white-space: normal;
}

#outerContainer .outlineItem > a {
  padding: 2px 0 5px 10px;
}

html[dir='rtl'] .outlineItem > a {
  padding: 2px 10px 5px 0;
}

.outlineItem > a:hover {
  background-color: hsla(0,0%,100%,.02);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.2) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,.9);
}

.outlineItem.selected {
  background-color: hsla(0,0%,100%,.08);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset,
              0 0 1px hsla(0,0%,100%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2);
  color: hsla(0,0%,100%,1);
}

.noOutline,
.noResults {
  font-size: 12px;
  color: hsla(0,0%,100%,.8);
  font-style: italic;
  cursor: default;
}

#findScrollView {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 280px;
}

#sidebarControls {
  position:absolute;
  width: 180px;
  height: 32px;
  left: 15px;
  bottom: 35px;
}

canvas {
  margin: auto;
  display: block;
}

.page {
  direction: ltr;
  width: 816px;
  height: 1056px;
  margin: 1px auto -8px auto;
  position: relative;
  overflow: visible;
  border: 9px solid transparent;
  background-clip: content-box;
  border-image: url(../images/shadow.png) 9 9 repeat;
  background-color: white;
}

.page > a {
  display: block;
  position: absolute;
}

.page > a:hover {
  opacity: 0.2;
  background: #ff0;
  box-shadow: 0px 2px 10px #ff0;
}

.loadingIcon {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('../images/loading-icon.gif') center no-repeat;
}

#loadingBox {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  color: #ddd;
  font-size: 14px;
}

#loadingBar {
  display: inline-block;
  clear: both;
  margin: 0px;
  margin-top: 5px;
  line-height: 0;
  border-radius: 2px;
  width: 200px;
  height: 25px;

  background-color: hsla(0,0%,0%,.3);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  border: 1px solid #000;
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 1px hsla(0,0%,0%,.2) inset,
              0 0 1px 1px rgba(255, 255, 255, 0.1);
}

#loadingBar .progress {
  display: inline-block;
  float: left;

  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2b2b2), color-stop(100%,#898989));
  background: -webkit-linear-gradient(top, #b2b2b2 0%,#898989 100%);
  background: -moz-linear-gradient(top, #b2b2b2 0%,#898989 100%);
  background: -ms-linear-gradient(top, #b2b2b2 0%,#898989 100%);
  background: -o-linear-gradient(top, #b2b2b2 0%,#898989 100%);
  background: linear-gradient(top, #b2b2b2 0%,#898989 100%);

  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;

  width: 0%;
  height: 100%;
}

#loadingBar .progress.full {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#loadingBar .progress.indeterminate {
  width: 100%;
  height: 25px;
  background-image: -moz-linear-gradient( 30deg, #404040, #404040 15%, #898989, #404040 85%, #404040);
  background-image: -webkit-linear-gradient( 30deg, #404040, #404040 15%, #898989, #404040 85%, #404040);
  background-image: -ms-linear-gradient( 30deg, #404040, #404040 15%, #898989, #404040 85%, #404040);
  background-image: -o-linear-gradient( 30deg, #404040, #404040 15%, #898989, #404040 85%, #404040);
  background-size: 75px 25px;
  -moz-animation: progressIndeterminate 1s linear infinite;
  -webkit-animation: progressIndeterminate 1s linear infinite;
}

@-moz-keyframes progressIndeterminate {
  from { background-position: 0px 0px; }
  to { background-position: 75px 0px; }
}

@-webkit-keyframes progressIndeterminate {
  from { background-position: 0px 0px; }
  to { background-position: 75px 0px; }
}

.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 1000;

}

.textLayer > div {
  color: transparent;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;

}

.textLayer .highlight {
  margin: -1px;
  padding: 1px;

  background-color: rgba(180, 0, 170, 0.2);
  border-radius: 4px;
}

.textLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

.textLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

.textLayer .highlight.middle {
  border-radius: 0px;
}

.textLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 0.2);
}


.highlightLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #000;
  font-family: sans-serif;
  overflow: hidden;
}

.highlightLayer > div {
  color: transparent;
  position: absolute;
  line-height: 1;
  white-space: pre;
  cursor: text;
}

.highlightLayer .highlight {
  margin: -1px;
  padding: 1px;

  background-color: rgba(180, 0, 170, 0.2);
  border-radius: 4px;
}

.highlightLayer .highlight.begin {
  border-radius: 4px 0px 0px 4px;
}

.highlightLayer .highlight.end {
  border-radius: 0px 4px 4px 0px;
}

.highlightLayer .highlight.middle {
  border-radius: 0px;
}

.highlightLayer .highlight.selected {
  background-color: rgba(0, 100, 0, 0.2);
}

/* TODO: file FF bug to support ::-moz-selection:window-inactive
   so we can override the opaque grey background when the window is inactive;
   see https://bugzilla.mozilla.org/show_bug.cgi?id=706209 */
::selection { background:rgba(0,0,255,0.2); }
::-moz-selection { background:rgba(0,0,255,0.2); }

.annotText > div {
  z-index: 200;
  position: absolute;
  padding: 0.6em;
  max-width: 20em;
  background-color: #FFFF99;
  box-shadow: 0px 2px 10px #333;
  border-radius: 7px;
}

.annotText > img {
  position: absolute;
  opacity: 0.6;
}

.annotText > img:hover {
  cursor: pointer;
  opacity: 1;
}

.annotText > div > h1 {
  font-size: 1.2em;
  border-bottom: 1px solid #000000;
  margin: 0px;
}

#errorWrapper {
  background: none repeat scroll 0 0 #FF5555;
  color: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 32px;
  z-index: 1000;
  padding: 3px;
  font-size: 0.8em;
}

#errorMessageLeft {
  float: left;
}

#errorMessageRight {
  float: right;
}

#errorMoreInfo {
  background-color: #FFFFFF;
  color: black;
  padding: 3px;
  margin: 3px;
  width: 98%;
}

.clearBoth {
  clear: both;
}

.fileInput {
  background: white;
  color: black;
  margin-top: 5px;
}

#PDFBug {
  background: none repeat scroll 0 0 white;
  border: 1px solid #666666;
  position: fixed;
  top: 32px;
  right: 0;
  bottom: 0;
  font-size: 10px;
  padding: 0;
  width: 300px;
}
#PDFBug .controls {
    background:#EEEEEE;
    border-bottom: 1px solid #666666;
    padding: 3px;
}
#PDFBug .panels {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 27px;
}
#PDFBug button.active {
  font-weight: bold;
}
.debuggerShowText {
  background: none repeat scroll 0 0 yellow;
  color: blue;
  opacity: 0.3;
}
.debuggerHideText:hover {
  background: none repeat scroll 0 0 yellow;
  opacity: 0.3;
}
#PDFBug .stats {
  font-family: courier;
  font-size: 10px;
  white-space: pre;
}
#PDFBug .stats .title {
    font-weight: bold;
}
#PDFBug table {
  font-size: 10px;
}

#viewer.textLayer-visible .textLayer > div,
#viewer.textLayer-hover .textLayer > div:hover {
  background-color: white;
  color: black;
}

#viewer.textLayer-shadow .textLayer > div {
  background-color: rgba(255,255,255, .6);
  color: black;
}

@page {
  margin: 0;
}

#printContainer {
  display: none;
}

@media print {
  /* Rules for browsers that don't support mozPrintCallback. */
  #sidebarContainer, .toolbar, #loadingBox, #errorWrapper, .textLayer {
    display: none;
  }

  #mainContainer, #viewerContainer, #translateContainer, .page, .page canvas {
    position: static;
    padding: 0;
    margin: 0;
  }

  .page {
    float: left;
    display: none;
    box-shadow: none;
  }

  .page[data-loaded] {
    display: block;
  }

  /* Rules for browsers that support mozPrintCallback */
  body[data-mozPrintCallback] #outerContainer {
    display: none;
  }
  body[data-mozPrintCallback] #printContainer {
    display: block;
  }
  #printContainer canvas {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media all and (max-width: 950px) {
   #outerContainer .sidebarMoving .outerCenter,
   #outerContainer .sidebarOpen .outerCenter {
    float: left;
    left: 180px;
  }
  html[dir='rtl'] #outerContainer.sidebarMoving .outerCenter,
  html[dir='rtl'] #outerContainer.sidebarOpen .outerCenter {
    float: right;
    right: 180px;
  }
}

@media all and (max-width: 770px) {
  #sidebarContainer {
    top: 33px;
    z-index: 100;
  }
  #sidebarContent {
    top: 32px;
    background-color: hsla(0,0%,0%,.7);
  }

   #outerContainer.sidebarOpen > #mainContainer {
    left: 0px;
  }
  html[dir='rtl'] #outerContainer.sidebarOpen > #mainContainer {
    right: 0px;
  }

  #mainContainer .outerCenter {
    float: left;
    left: 180px;
  }
  html[dir='rtl'] .outerCenter {
    float: right;
    right: 180px;
  }
}

@media all and (max-width: 600px) {
  .hiddenSmallView {
    display: none;
  }
  #mainContainer .outerCenter {
    left: 156px;
  }
  html[dir='rtr'] .outerCenter {
    right: 156px;
  }
  .toolbarButtonSpacer {
    width: 0;
  }
}

@media all and (max-width: 500px) {
  #scaleSelectContainer, #pageNumberLabel {
    display: none;
  }
}

