<template>
    <div id="outerContainer" class="box">
    
      <div id="mainContainer">
        <div id="viewerContainer" tabindex="1">
          <span id="articleType"></span>
          <span id="title" class="title unselectable" style="vertical-align:text-top;"></span>
          <div id="subtitle" class="subtitle unselectable" ></div>
          <div id="viewer" contextmenu="viewerContextMenu"></div>
        </div>

        <div id="loadingBox">
          <div id="loading"></div>
          <div id="loadingBar"><div class="progress"></div></div>
        </div>

        <div id="errorWrapper" hidden='true'>
          <div id="errorMessageLeft">
            <span id="errorMessage"></span>
            <button id="errorShowMore" onclick="" oncontextmenu="return false;" data-l10n-id="error_more_info">
              More Information
            </button>
            <button id="errorShowLess" onclick="" oncontextmenu="return false;" data-l10n-id="error_less_info" hidden='true'>
              Less Information
            </button>
          </div>
          <div id="errorMessageRight">
            <button id="errorClose" oncontextmenu="return false;" data-l10n-id="error_close">
              Close
            </button>
          </div>
          <div class="clearBoth"></div>
          <textarea id="errorMoreInfo" hidden='true' readonly="readonly"></textarea>
        </div>
      </div> <!-- mainContainer -->
      
      <div id="translateContainer">
        <div id="tViewerContainer" tabindex="1">
          <span id="tArticleType"></span>
          <span id="tTitle" class="title unselectable" style="vertical-align:text-top;"></span>
          <div id = "tSubtitle" class="subtitle unselectable" ></div>
          <div class="orig">
            <input id="originalBtn" onclick="$('.box').removeClass('translateBox');" type="image" src="images/Un-Google-Translate-icon-32.png" alt="Original">
          </div>
          <div id="tViewer" contextmenu="viewerContextMenu"></div>
        </div>
      	
      </div>
      
    </div> <!-- outerContainer -->

</template>