<template>
    <div id="tOuterContainer" class="box">
    
      <div id="tMainContainer">
        <div id="tViewerContainer" tabindex="1">
          <span id="tArticleType"></span>
          <span id="tTitle" class="title unselectable" style="vertical-align:text-top;"></span>
          <div id="tSubtitle" class="subtitle unselectable" ></div>
          <div id="tViewer" contextmenu="viewerContextMenu"></div>
        </div>

        <div id="translateProgress" class="translate-progress">
        	<img src="images/spiffygif_large_white.gif">
        </div>

        <div id="tErrorWrapper" hidden='true'>
          <div id="tErrorMessageLeft">
            <span id="tErrorMessage"></span>
            <button id="tErrorShowMore" onclick="" oncontextmenu="return false;" data-l10n-id="error_more_info">
              More Information
            </button>
            <button id="tErrorShowLess" onclick="" oncontextmenu="return false;" data-l10n-id="error_less_info" hidden='true'>
              Less Information
            </button>
          </div>
          <div id="tErrorMessageRight">
            <button id="tErrorClose" oncontextmenu="return false;" data-l10n-id="error_close">
              Close
            </button>
          </div>
          <div class="clearBoth"></div>
          <textarea id="tErrorMoreInfo" hidden='true' readonly="readonly"></textarea>
        </div>
      </div> <!-- mainContainer -->
      
    </div> <!-- outerContainer -->

</template>