<!DOCTYPE HTML>
<html style="height: 100%">
<head>
<meta charset="UTF-8">
<!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" /> -->
<title>Smart Content Navigation on HANA | SAP NS2</title>

		 		<!--src='https://sapui5.hana.ondemand.com/1.32.7/resources/sap-ui-core.js'-->
		 		<!-- src='{{{ui5liburl}}}/resources/sap-ui-core.js' -->

		<script id='sap-ui-bootstrap' type='text/javascript' 
		 		src='https://sapui5.hana.ondemand.com/1.32.7/resources/sap-ui-core.js'
		 		data-sap-ui-libs='sap.ui.commons,sap.ui.ux3,sap.ui.table,sap.m,sap.viz,sap.suite.ui.commons'
				data-sap-ui-theme='sap_goldreflection'
				data-sap-ui-xx-bindingSyntax="complex"
				data-sap-ui-resourceroots='{
					"search": "./",
					"view": "./view" }'		
		 		data-sap-ui-xx-supportedLanguages='en'>
		</script>	


<script src="js/constants.js" type="text/javascript"></script>
<script src="js/typeahead.js" type="text/javascript"></script>
<script src="js/extensions_ui5.js" type="text/javascript"></script>
<script src="js/d3.js"></script>
<script src="js/d3.layout.cloud.js"></script>
<script src="js/viewer.js"></script>
<script src="js/text.js"></script>
<script src="js/highlight.js"></script>
<script src="js/rangy-core.js"></script>
<script src="js/rangy-cssclassapplier.js"></script>
<script src="js/rangy-selectionsaverestore.js"></script>
<script src="js/rangy-serializer.js"></script>
<script src="js/imagesloaded.min.js"></script>
<script src="js/fileupload.js"></script>
<!--<script src="js/spinner.js"></script> -->
<script src="js/jquery.soap.js"></script>
<script src="js/xml2json.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/leaflet.markercluster.js"></script>
<script src="js/leaflet.awesome-markers.js"></script>
<script src="js/leaflet.draw.js"></script>
<script src="js/leaflet.heat.js"></script>
<script src="js/leaflet.contextmenu.js"></script>

<link rel="stylesheet" href="css/gumby.css" />
<link rel="stylesheet" href="css/viewer.css" />
<link rel="stylesheet" href="css/smartnav.css" />
<link rel="stylesheet" href="css/jqcloud.css" />
<link rel="stylesheet" href="css/textHighlight.css" />
<link rel="stylesheet" href="css/geocode.css" />
<link rel="stylesheet" href="css/fileupload.css" />
<link rel="stylesheet" href="css/leaflet.css" />
<link rel="stylesheet" href="css/leaflet.draw.css" />
<link rel="stylesheet" href="css/MarkerCluster.css" />
<link rel="stylesheet" href="css/MarkerCluster.Default.css" />
<link rel="stylesheet" href="css/leaflet.awesome-markers.css">
<link rel="stylesheet" href="css/font-awesome/4.4.0/css/font-awesome.css">
<link rel="stylesheet" href="css/leaflet.contextmenu.css" />

<link rel="icon" href="images/docsearch.png" type="image/png" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

<script>
	sap.ui.localResources("smartnav");
	sap.ui.localResources("js");
	
    function isEmbedded() { 
        if (urlParams && urlParams.embed) { 
            if (urlParams.embed === '1') { 
                var expiration_date = new Date();
                expiration_date.setFullYear(expiration_date.getFullYear() + 1);
                document.cookie = "embed=1; path=/; expires=" + expiration_date.toGMTString();
                return true;
            } 
            document.cookie = '';
            return false;
        } else { 
            var vals = document.cookie.split(';');
            for (var i = 0; i < vals.length; i++) { 
                if (vals[i] === 'embed=1') { 
                    return true;
                } 
            } 
            return false;
        } 
    } 

	function parseUrlParams(url) {
		var match, pl = /\+/g, // Regex for replacing addition symbol with a space
		search = /([^&=]+)=?([^&]*)/g, decode = function(s) {
			return decodeURIComponent(s.replace(pl, " "));
		}, query = url.search.substring(1);

		var urlParams = {};
		while (match = search.exec(query))
			urlParams[decode(match[1])] = decode(match[2]);
		return urlParams;
	}

	var urlParams = parseUrlParams(window.location);
//	var pdfId = parseInt(urlParams && urlParams.pdfId) || null;
	var pdfId = null;
    var embed_app = isEmbedded();
	var model = new sap.ui.model.json.JSONModel();
	model.setData({
		viewContext : {
			viewType : pdfId && constants.viewtypes.TEXT_VIEW || constants.viewtypes.SEARCH_VIEW,
			desc : "Start",
			searchTerm : urlParams && urlParams.searchTerm || '',
			searchResults : 0,
			filters : {},
			pdfId : pdfId,
			prevDesc : null,
			nextDesc : null
		}
	});

	model.setDefaultBindingMode(sap.ui.model.BindingMode.OneWay);
	sap.ui.getCore().setModel(model, constants.models.SEARCH_MODEL);

	var browserView = sap.ui.view({
		id : "idMainBrowserView",
		viewName : "view.Browser",
		type : sap.ui.core.mvc.ViewType.JS
	});

    $(document).ready(function() {
        if (embed_app) {
            $('#uiCrossNav').css('display', 'none');
            $('#smartNavFooter #footer-nav-misc').css('display', 'none');
        }
        
    });
</script>
</head>
<body class="sapUiBody">
	<div class="container">
		<div class="row">
			<div id="smartNavHeader" class="fourteen columns horizontalSectionDark backgroundGradient">
				<div id="uiTop"></div>
				<div id="uiLogo">
					<a href="."><img src="images/ns2_logo_trans.gif" /></a><br/>
				</div>
			</div>
			<div id="uiAwesomeBar" class="backgroundGradient"></div>
		</div>
		<div id="smartNavMain" class="row">
			<div id="compLeft" class="three columns">
				<div id="uiLeft"></div>
				<div id="uiRight"></div>
			</div>
			
			<div id="uiMain" class="eleven columns"></div>
		</div>
		<div id="smartNavFooter" class="horizontalSectionDark backgroundGradient">
			<div role="contentinfo" id="legal">
				<img src="images/poweredHANA_sm.png" />
			</div>
		</div>
	</div>
</body>
</html>
